RewriteEngine on
RewriteCond $1 !^(index\.php|index2.php|fonts|css|js|build|plugins|pages|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

